project-api/public/jbrowse/data/UCAS_AcoGenome_QD.fasta
project-api/public/download/AucoData/Auco.sn.normalized.annotated.gzip.h5ad
project-api/public/download/BasalMetazoaDataset/sc_BasalMetazoa.normalized.gzip.h5ad
project-api/public/download/scOrthoGeneH5ad/Auco.OG.normalized.gzip.h5ad
project-api/public/download/scOrthoGeneH5ad/Dare.OG.normalized.gzip.h5ad
project-api/public/download/scOrthoGeneRDS/Auco.OG.normalized.rds
project-api/public/download/scOrthoGeneRDS/Dare.OG.normalized.rds
project-api/public/download/scOrthoGeneRDS/Spla.OG.normalized.rds
project-api/public/download/SingleCellDataH5ad/Auco.normalized.gzip.h5ad
project-api/public/download/SingleCellDataH5ad/Dare.normalized.gzip.h5ad
project-api/public/jbrowse/data/UCAS_AcoGenome_QD.fasta
